// start color and layouts
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Janna-lt";
  src: url("/assets/fonts/Janna-lt.ttf") format("truetype"),
    url("/assets/fonts/Janna-lt-Bold.ttf");
  font-weight: bolder;
  font-display: swap;
}

$main-bg: #fafafa;
$text-color: #5a7184;
$primary: #dcb63b;
$primary: #dcba9565;
$primary-light: #f9f4ee;
$secondary-black: #2d3a4a;
$body-text: #5a7184;
$body-text2: #959ead;
$icons: #919eab;
$border-color: #ebeaed;
$red-color: #b1628c;
$red-bg: #f5ecf1;
$rating-bg: #ecb43c;
$background: #1b2126;
$margin-top-home: 120px;

// end color and layouts

// start mixins

// end mixins

// start common classes and components

.heading-text {
  color: $secondary-black;
  font-size: 40px;
  font-weight: bolder;
}

@media (max-width: 760px) {
  .heading-text {
    font-size: 24px !important;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

// start car card

.car-card {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background: #fff;
  padding: 20px;
  margin: 10px 0px;
  position: relative;
  height: fit-content;
  .used {
    width: 66px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fcf4e2;
    font-size: 10px !important;
    font-style: normal;
    font-weight: 700 !important;
    color: #dcb63b !important;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    position: absolute;
    z-index: 1;
    top: 12px;
    left: 0;
  }
  .image {
    width: 100%;
    height: 163px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #fafafa;
    margin-bottom: 20px;
    img {
      width: 188px;
      height: 92px;
      object-fit: cover;
    }
  }
  .name {
    gap: 14px;
    margin-bottom: 10px;
    span {
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      color: $body-text;
    }
    h4 {
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      color: $secondary-black;
    }
  }
  .price {
    h6 {
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      color: #dcb63b;
    }
    span {
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      color: #90a3bf;
    }
  }
  .types {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin-top: 14px;
    .type {
      display: flex;
      align-items: center;
      gap: 5px;
      span {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        color: $body-text;
      }
    }
  }
  .btn-container {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .icon {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      border: 1px solid #ebeaed;
      cursor: pointer;
    }
    button {
      display: flex;
      width: 80%;
      height: 40px;
      padding: 0px 20px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 8px;
      background: #2d3a4a;
      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
    }
  }
}

// end car card

body,
html {
  overflow-x: clip;
}
body {
  background-color: $main-bg;
  font-family: "Janna-lt", sans-serif;
}

// end common classes and components

// start navbar and footer

.navbar {
  background-color: $background;
  .items {
    .links {
      display: flex;
      align-items: center;
      gap: 32px;
      a {
        color: #fff;
        font-size: 14px;
        font-weight: 400;
      }
    }
    .icons {
      display: flex;
      align-items: center;
      gap: 20px;
      color: #fff;
      .icon {
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #fff;
        border-radius: 50%;
        cursor: pointer;
      }
      span {
        text-transform: uppercase;
        cursor: pointer;
        padding-left: 20px;
        border-left: 1px solid #ffff;
      }
    }
  }
}

.footer-container {
  background-color: #1b2126;
  color: #fff;
  padding: 31px 104px;
  position: relative;
  background-image: url("~/assets/images/Tire.png");
  background-position: center;
  background-repeat: no-repeat;
  .tire {
    position: absolute;
    // left: 50%;
    // transform: translateX(-50%);
    // z-index: -1;
  }
  .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 10px;
    h5 {
      font-size: 24px;
      font-style: normal;
    }
    span {
      color: #8c8c8c;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
    }
    .search-input {
      display: flex;
      width: 751px;
      height: 60px;
      align-items: center;
      gap: 12px;
      border-radius: 40px;
      background: rgba(255, 255, 255, 0.18);
      position: relative;
      padding: 0px 32px;
      .input {
        display: flex;
        align-items: center;
        gap: 5px;
        width: 100%;
      }
      input {
        border: none;
        outline: none;
        color: #fff;
        font-size: 16px;
        width: 80%;
        ::placeholder {
          color: red;
        }
      }
      button {
        position: absolute;
        left: 5px;
        display: flex;
        width: 136px;
        height: 48px;
        padding: 0px 38px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        background: rgba(255, 255, 255, 0.2);
      }
    }
  }
  .box-container {
    p {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
    .icons {
      gap: 14px;
      .icon {
        display: flex;
        width: 48px;
        height: 48px;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        background: rgba(255, 255, 255, 0.2);
        cursor: pointer;
      }
    }
  }
  .foot {
    span {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
    }
  }
}
// end navbar and footer

// start hero section

.hero-section {
  // min-height: 100vh;
  height: 774px;
  background-image: url("~/assets/images/mask-hero.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $background;
  .container {
    height: 100%;
  }
  .swiper {
    width: 100%;
    height: 100%;
    padding: 0px !important;
    .swiper-pagination {
      position: absolute;
      top: 20%;
      transform: translateY(-50%);
      left: 10px;
      width: 8px;
      height: fit-content;
      display: flex;
      gap: 9px;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      margin: 3px 0px;
      background-color: #fff; /* Customize the pagination bullet color */
      opacity: 0.24;
    }
    .swiper-pagination-bullet-active {
      opacity: 1;
      width: 10px;
      height: 10px;
      background-color: #d3d3d4;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      &::before {
        content: "";
        position: absolute;
        width: 14px;
        height: 14px;
        border: 1px solid #fff;
        padding: 7px;
        border-radius: 50%;
        top: -2.5px;
        right: -50%;
        transform: translateX(-12%);
      }
    }
    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // gap: 150px;
      width: 100%;
      height: 100%;
      color: #fff;
      .text {
        width: 491px;
        display: flex;
        flex-direction: column;
        gap: 41px;
        h1 {
          font-size: 40px;
          font-weight: bolder;
          line-height: 60px;
          span {
            color: #dcb63b;
          }
        }
        p {
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
        }
      }
    }
  }
}

// end hero section

// start search section

.search-section {
  // width: 1122px;
  width: 100%;
  height: 105px;
  border-radius: 12px;
  background-color: #fff;
  padding: 20px 50px;
  box-shadow: 0px 16px 24px 0px rgba(113, 128, 150, 0.04);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: -50px;
  .search {
    display: flex;
    width: 160px;
    height: 57px;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    background-color: #2d3a4a;
    color: #ffff;
    font-weight: 600;
    // margin-top: 30px;
  }
  .select {
    width: 169px;
    // height: 57px;
    .type {
      color: $body-text;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
    }

    .v-input {
      .mdi-menu-down::before,
      .mdi-set {
        font-size: 12px !important;
        font-family: "FontAwesome" !important;
        content: "\f078" !important;
      }

      .v-field__outline {
        transition: 0.3s;
        opacity: 0;
      }
      .v-field {
        .v-label {
          color: #2d3a4a;
          text-align: right;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          opacity: 1;
          &.v-field-label {
          }
        }
        &.v-field--active {
          .v-field__outline {
            opacity: 1;
          }
          .v-label {
            color: #2d3a4a;
            text-align: right;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            opacity: 0.8;
            &.v-field-label {
            }
          }
        }
      }
      &.v-autocomplete--actice-menu {
      }
    }
  }
}

@media (max-width: 1000px) {
  .search-section {
    flex-direction: column;
    height: 100%;
    .select {
      width: 100%;
      margin: 10px 0px;
    }
    .search {
      width: 138px;
      height: 43px;
      margin-top: 15px;
    }
  }
}

// end search section

// start brands section

.brands {
  margin-top: $margin-top-home;
  .text {
    gap: 24px;
    p {
      width: 492px;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      color: $body-text;
    }
  }
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 16px;
    background: #fff;
    width: 192px;
    height: 163px;
    .image {
      width: 100%;
      height: 88px;
      background-image: url("~/assets/images/brand1.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .name {
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      color: $secondary-black;
    }
    .num {
      color: $body-text;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
    }
  }
}

@media (max-width: 760px) {
  .brands {
    .text {
      p {
        width: 100%;
        padding: 0px 20px;
      }
    }
  }
}
// end brands section

// start explore section

.explore {
  margin-top: $margin-top-home;
  height: 655px;
  background: linear-gradient(
    258deg,
    #1b2126 67.66%,
    rgba(12, 16, 28, 0) 616.47%
  );
  color: #fff;
  .container {
    position: relative;
    // background-color: red;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    svg {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      // z-index: -1;
    }
    .text {
      z-index: 1;
      text-align: center;
      margin-bottom: 50px;
      span {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
      }
      h3 {
        width: 400px;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px; /* 160% */
        letter-spacing: 0.893px;
        color: #fff !important;
      }
    }
    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 20px;
      z-index: 1;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 152px;
        background: linear-gradient(
          270deg,
          #fff -0.08%,
          rgba(255, 255, 255, 0) 91.53%
        );
        height: 1.5px;
        transform: rotate(270deg);
        right: -80px;
        top: 50%;
      }

      .image {
        width: 64px;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        background: rgba(255, 255, 255, 0.08);
      }
      span {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
      }
      p {
        width: 80%;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .explore {
    padding: 50px 0px;
    height: 100%;
    .text {
      margin-bottom: 20px !important;
    }
    .box {
      p {
        width: 100%;
      }
      &::before {
        transform: rotate(0deg) !important;
        right: 50% !important;
        top: 100% !important;
        transform: translateX(50%) !important;
      }
    }
  }
}
// end explore section

// start our products section

.our-products {
  margin-top: 120px;

  .header {
    .v-btn {
      color: $text-color;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0px !important;
      .v-btn__content {
        position: relative;
        svg {
          position: absolute;
          height: 7px;
          width: 50px;
          right: 0;
          bottom: -9px;
          display: none;
        }
      }
      &.v-slide-group-item--active {
        color: #dcb63b !important;
        font-weight: bold;
        .v-tab__slider {
          display: none;
        }
        .v-btn__content {
          svg {
            display: block;
          }
        }
      }
      .v-btn__overlay {
        display: none;
      }
      :hover {
        background-color: transparent;
      }
    }
  }
}

// end our products section

// start best offer section

.best-offers {
  background-color: #fff;
  margin-top: $margin-top-home;
  padding: 72px;
  .text-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    .main-image {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-top: 40px;
      .main {
        gap: 14px;
        .choose {
          gap: 8px;
        }
      }
    }
    button {
      display: flex;
      width: 211px;
      height: 48px;
      padding: 0px 20px;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      border: 1px solid #2d3a4a;
      background: #2d3a4a;
      color: #fff;
      margin-top: 48px;
    }
    h4 {
      width: 433px;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
      margin-bottom: 40px;
      color: $secondary-black;
    }
    .special {
      color: #5a7184;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      margin-bottom: 18px;
    }
    .image {
      width: 70px;
      height: 56px;
      border-radius: 12px;
      background: #fff;
      box-shadow: 0px 12px 32px 0px rgba(169, 169, 173, 0.16);
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        width: 32px;
        height: 32px;
      }
    }
    .choose {
      h6 {
        color: $secondary-black;
        font-size: 18px;
      }
      span {
        color: #5a7184;
        font-size: 14px;
        width: 370px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
      }
    }
  }

  .big-img {
    width: 582.157px;
    height: 506.854px;
  }
}

// end best offer section

// start all marks section

.all-marks {
  margin-top: $margin-top-home;
  margin-bottom: 140px;
  .header {
    margin-bottom: 90px;
    .text {
      gap: 24px;
      span {
        width: 492px;
        color: $body-text;
        line-height: 24px;
      }
    }
  }
  .box {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    margin-bottom: 88px;
  }
}
// end all marks section

// start car page

.main-car-page {
  .car-details {
    margin-top: 50px;
    border-radius: 24px;
    background: #fff;
    padding: 30px;
    .images-text {
      .mySwiper2 {
        .swiper-slide {
          width: 100%;
          height: 416px;
          border-radius: 16px;
          border: 1px solid #ebeaed;
          background-image: url("~/assets/images/car.png");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          position: relative;
          .zoom {
            position: absolute;
            z-index: 11;
            bottom: 20px;
            right: 20px;
            cursor: pointer;
          }
        }
      }

      .mySwiper .swiper-slide {
        .image {
          width: 80px;
          height: 80px;
          border-radius: 8px;
          border: 1px solid #ebeaed;
          background-image: url("~/assets/images/car.png");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }

      .mySwiper .swiper-slide-thumb-active {
        .image {
          border: 1px solid #dcb63b;
        }
      }

      .slider__prev,
      .slider__next {
        width: 50px;
        height: 33px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #f6f7f9;
        img {
        }
      }
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .vendor {
        width: 301px;
        // height: 69px;
        border-radius: 8px;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #ebeaed;
        .city {
          font-size: 12px;
          color: $body-text;
        }
        .icon {
          width: 28px;
          height: 28px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #fafafa;
          border-radius: 50%;
        }
        .vendor-icon {
          display: flex;
          align-items: center;
          gap: 8px;
          span {
            font-size: 14px;
            color: $secondary-black;
            font-weight: 700;
          }
        }
      }
      .icons {
        display: flex;
        align-items: center;
        gap: 8px;
        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          width: 44px;
          height: 44px;
          background: #fafafa;
          cursor: pointer;
        }
      }
    }
    .time {
      margin-top: 20px;
      font-size: 12px;
      color: $body-text;
    }
    .name {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      h4 {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        color: $secondary-black;
      }
      .model {
        border-radius: 8px;
        border: 1px solid #ebeaed;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        // gap: 8px;
        width: 148px;

        span {
          font-size: 12px;
          color: $body-text;
          padding-left: 5px;
          border-left: 1px solid #ebeaed;
        }
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
    .description {
      margin-top: 28px;
      margin-bottom: 24px;
      .word {
        color: $secondary-black;
        font-weight: 400;
      }
      p {
        margin-top: 14px;
        font-size: 14px;
        font-style: normal;
        height: 75px;
        overflow-y: auto;
        font-weight: 400;
        color: $body-text;
        padding: 0px 15px;
        line-height: 24px;
        span {
          cursor: pointer;
          color: #dcb63b;
          font-weight: 700;
        }
      }
    }
    .price {
      margin-bottom: 26px;
      .word {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        color: $secondary-black;
      }
      .main-price {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-top: 15px;
        h5 {
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          color: #dcb63b;
        }
        span {
          font-size: 12px;
          color: #90a3bf;
          &.disc {
            color: #b6bdc3;
            text-decoration: line-through;
          }
        }
      }
    }
    .colors {
      margin-bottom: 32px;
      .word {
        color: $secondary-black;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
      }
      .main {
        margin-top: 14px;
        span {
          color: #5a7184;
          font-size: 14px;
        }
      }
    }
    .btns {
      display: flex;
      align-items: center;
      gap: 8px;
      button {
        display: flex;
        width: 261.482px;
        height: 56px;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        &.cash {
          color: #fff;
          background-color: $secondary-black;
        }
        &.finance {
          color: $secondary-black;
          background-color: #fff;
          border: 1px solid $secondary-black;
        }
      }
    }
  }
  .details {
    margin-top: 72px;
    margin-bottom: 110px;
    h2 {
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      color: $secondary-black;
      margin-bottom: 56px;
    }
    .box {
      border-radius: 16px;
      background: #fff;
      height: 139px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .icon {
        display: flex;
        width: 40px;
        height: 40px;
        padding: 8px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background-color: #f6f7f9;
      }
      gap: 14px;
      .label {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        color: $body-text;
      }
      .type {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        color: $secondary-black;
      }
    }
  }
}

.similar-cars {
  margin-bottom: 140px;
  .head {
    text-align: center;
    h4 {
      color: $secondary-black;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      margin-bottom: 64px;
    }
  }
}

.paymentType {
  margin-bottom: 100px;
  .payment-container {
    border-radius: 16px;
    background: #fff;
    padding: 32px;
    // height: 530px;
    h4 {
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      color: $secondary-black;
      margin-bottom: 16px;
    }
    .word {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      color: $body-text;
    }
    .payment-method {
      margin-top: 24px;
      margin-bottom: 48px;
      display: flex;
      align-items: center;
      width: 344px;
      height: 48px;
      border-radius: 32px;
      border: 1px solid #ebeaed;
      button {
        width: 50%;
        font-size: 16px;
        font-weight: 400;
        height: 100%;
        color: $body-text;
        &.active {
          color: #dcb63b;
          font-weight: 700;
          border-radius: 32px 32px 32px 32px;
          background-color: #fcf4e2;
        }
      }
    }
  }

  .range-container {
    .range-slider {
      .word {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        color: $secondary-black;
      }
      .v-slider-track__fill,
      .v-slider-track__background {
        height: 10px !important;
      }
      .v-slider-track__background {
        background-color: #f6f7f9 !important;
      }
      .v-slider-track__fill {
        background-color: #dcb63b !important;
      }
      .v-slider-thumb__surface {
        width: 22.415px !important;
        height: 23px !important;
        background-color: #fff;
        filter: drop-shadow(0px 2px 4px rgba(20, 20, 43, 0.08));
      }
      .v-slider-thumb__label {
        height: 44px !important;
        border-radius: 32px;
        background-color: #fcf4e2;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        color: #dcb63b;
        min-width: 150px !important;
        padding: 0px 20px;
      }
      .v-slider-thumb__label::before {
        display: none;
      }
    }
    .total-container {
      display: flex;
      flex-direction: column;
      gap: 14px;
      border-radius: 16px;
      padding: 24px;
      border: 1px solid #ebeaed;
      span {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        color: $body-text;
      }
    }
  }
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 50%;
    span{
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      color: $body-text;
    }
    .input {
      // width: 349.5px;
      height: 48px;
      border-radius: 8px;
      input , .p-dropdown{
        padding: 20px;
        width: 100%;
        height: 100%;
      border-radius: 8px;

        background-color: #f6f7f9;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        color: $body-text;
        outline: none;
        &:focus{
          background-color: #fff;
          border: 1px solid #dcb63b;
        }
      }
      .p-dropdown{
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }

  .next-step {
    display: flex;
    width: 200px;
    height: 48px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 12px;
    background-color: #2d3a4a;
    font-weight: 700;
    margin-top: 75px;
  }

  .btns{
    display: flex;
    align-items: center;
    gap: 16px;
     button{
      display: flex;
      width: 200px;
      height: 48px;
      padding: 8px 16px;
      justify-content: center;
      align-items: center;
      font-weight: 700;
    border-radius: 12px;
      margin-top: 75px;
      &.next{
    background-color: #2d3a4a;
      color: #fff;
      }
      &.back{
        background-color: #fff;
        border: 1px solid #2d3a4a;
        color: #2d3a4a;
      }
     }
  }

  .custom-slider .v-slider-thumb {
    //  direction: rtl;
  }

  // .custom-slider .v-slider-thumb__ripple {
  //   left: auto;
  //   right: 0;
  //   transform: translateX(50%);
  // }

  .main-pagination-container {
    display: flex;
    align-items: center;
    gap: 10px;
    .pagination-container {
      width: 6px;
      border-radius: 32px;
      background-color: #fafafa;
      height: 503px;
      margin: 0px 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      .dot {
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #fff;
        border: 2px solid #dbe3ee;
        i {
          font-size: 10px;
          color: #fff;
          display: none;
        }
        &.active {
          background-color: #dcb63b;
          border: 2px solid #fcebc5;
          i {
            display: block;
          }
        }
      }
      .icon {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f6f7f9;
        border-radius: 50%;
        img {
          &.active {
            display: none;
          }
        }
        &.active {
          img {
            &.active {
              display: block;
            }
            &.def {
              display: none;
            }
          }
        }
      }
    }
    .content-pagination {
      height: 503px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      h5 {
        font-size: 16px;
        font-style: normal;
        color: $body-text;
        font-weight: 400;
        &.active {
          color: #dcb63b;
          font-weight: 700;
        }
      }
      span {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        color: $body-text;
      }
    }
  }
}
// end car page
