* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Janna-lt";
  src: url("/assets/fonts/Janna-lt.ttf") format("truetype"), url("/assets/fonts/Janna-lt-Bold.ttf");
  font-weight: bolder;
  font-display: swap;
}
.heading-text {
  color: #2d3a4a;
  font-size: 40px;
  font-weight: bolder;
}

@media (max-width: 760px) {
  .heading-text {
    font-size: 24px !important;
  }
}
a {
  color: inherit;
  text-decoration: none;
}

.car-card {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background: #fff;
  padding: 20px;
  height: -moz-fit-content;
  height: fit-content;
}
.car-card .image {
  width: 100%;
  height: 163px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: #fafafa;
  margin-bottom: 20px;
}
.car-card .image img {
  width: 188px;
  height: 92px;
  -o-object-fit: cover;
     object-fit: cover;
}
.car-card .name {
  gap: 14px;
  margin-bottom: 10px;
}
.car-card .name span {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  color: #5a7184;
}
.car-card .name h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: #2d3a4a;
}
.car-card .price h6 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: #dcb63b;
}
.car-card .price span {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  color: #90a3bf;
}
.car-card .types {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  margin-top: 14px;
}
.car-card .types .type {
  display: flex;
  align-items: center;
  gap: 5px;
}
.car-card .types .type span {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #5a7184;
}
.car-card .btn-container {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.car-card .btn-container .icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #ebeaed;
  cursor: pointer;
}
.car-card .btn-container button {
  display: flex;
  width: 80%;
  height: 40px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #2d3a4a;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

body,
html {
  overflow-x: clip;
}

body {
  background-color: #fafafa;
  font-family: "Janna-lt", sans-serif;
}

.navbar {
  background-color: #1b2126;
}
.navbar .items .links {
  display: flex;
  align-items: center;
  gap: 32px;
}
.navbar .items .links a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.navbar .items .icons {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
}
.navbar .items .icons .icon {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}
.navbar .items .icons span {
  text-transform: uppercase;
  cursor: pointer;
  padding-left: 20px;
  border-left: 1px solid white;
}

.footer-container {
  background-color: #1b2126;
  color: #fff;
  padding: 31px 104px;
  position: relative;
  background-image: url("~/assets/images/Tire.png");
  background-position: center;
  background-repeat: no-repeat;
}
.footer-container .tire {
  position: absolute;
}
.footer-container .search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 10px;
}
.footer-container .search h5 {
  font-size: 24px;
  font-style: normal;
}
.footer-container .search span {
  color: #8c8c8c;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.footer-container .search .search-input {
  display: flex;
  width: 751px;
  height: 60px;
  align-items: center;
  gap: 12px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.18);
  position: relative;
  padding: 0px 32px;
}
.footer-container .search .search-input .input {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
}
.footer-container .search .search-input input {
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  width: 80%;
}
.footer-container .search .search-input input ::-moz-placeholder {
  color: red;
}
.footer-container .search .search-input input ::placeholder {
  color: red;
}
.footer-container .search .search-input button {
  position: absolute;
  left: 5px;
  display: flex;
  width: 136px;
  height: 48px;
  padding: 0px 38px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.2);
}
.footer-container .box-container p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.footer-container .box-container .icons {
  gap: 14px;
}
.footer-container .box-container .icons .icon {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.footer-container .foot span {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.hero-section {
  height: 774px;
  background-image: url("~/assets/images/mask-hero.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1b2126;
}
.hero-section .container {
  height: 100%;
}
.hero-section .swiper {
  width: 100%;
  height: 100%;
  padding: 0px !important;
}
.hero-section .swiper .swiper-pagination {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  left: 10px;
  width: 8px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  gap: 9px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.hero-section .swiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  margin: 3px 0px;
  background-color: #fff; /* Customize the pagination bullet color */
  opacity: 0.24;
}
.hero-section .swiper .swiper-pagination-bullet-active {
  opacity: 1;
  width: 10px;
  height: 10px;
  background-color: #d3d3d4;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-section .swiper .swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 1px solid #fff;
  padding: 7px;
  border-radius: 50%;
  top: -2.5px;
  right: -50%;
  transform: translateX(-12%);
}
.hero-section .swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  color: #fff;
}
.hero-section .swiper .swiper-slide .text {
  width: 491px;
  display: flex;
  flex-direction: column;
  gap: 41px;
}
.hero-section .swiper .swiper-slide .text h1 {
  font-size: 40px;
  font-weight: bolder;
  line-height: 60px;
}
.hero-section .swiper .swiper-slide .text h1 span {
  color: #dcb63b;
}
.hero-section .swiper .swiper-slide .text p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.search-section {
  width: 100%;
  height: 105px;
  border-radius: 12px;
  background-color: #fff;
  padding: 20px 50px;
  box-shadow: 0px 16px 24px 0px rgba(113, 128, 150, 0.04);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: -50px;
}
.search-section .search {
  display: flex;
  width: 160px;
  height: 57px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  background-color: #2d3a4a;
  color: white;
  font-weight: 600;
}
.search-section .select {
  width: 169px;
}
.search-section .select .type {
  color: #5a7184;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.search-section .select .v-input .mdi-menu-down::before,
.search-section .select .v-input .mdi-set {
  font-size: 12px !important;
  font-family: "FontAwesome" !important;
  content: "\f078" !important;
}
.search-section .select .v-input .v-field__outline {
  transition: 0.3s;
  opacity: 0;
}
.search-section .select .v-input .v-field .v-label {
  color: #2d3a4a;
  text-align: right;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  opacity: 1;
}
.search-section .select .v-input .v-field.v-field--active .v-field__outline {
  opacity: 1;
}
.search-section .select .v-input .v-field.v-field--active .v-label {
  color: #2d3a4a;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  opacity: 0.8;
}
@media (max-width: 1000px) {
  .search-section {
    flex-direction: column;
    height: 100%;
  }
  .search-section .select {
    width: 100%;
    margin: 10px 0px;
  }
  .search-section .search {
    width: 138px;
    height: 43px;
    margin-top: 15px;
  }
}
.brands {
  margin-top: 120px;
}
.brands .text {
  gap: 24px;
}
.brands .text p {
  width: 492px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #5a7184;
}
.brands .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 16px;
  background: #fff;
  width: 192px;
  height: 163px;
}
.brands .box .image {
  width: 100%;
  height: 88px;
  background-image: url("~/assets/images/brand1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.brands .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.brands .box .name {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: #2d3a4a;
}
.brands .box .num {
  color: #5a7184;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

@media (max-width: 760px) {
  .brands .text p {
    width: 100%;
    padding: 0px 20px;
  }
}
.explore {
  margin-top: 120px;
  height: 655px;
  background: linear-gradient(258deg, #1b2126 67.66%, rgba(12, 16, 28, 0) 616.47%);
  color: #fff;
}
.explore .container {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.explore .container svg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.explore .container .text {
  z-index: 1;
  text-align: center;
  margin-bottom: 50px;
}
.explore .container .text span {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.explore .container .text h3 {
  width: 400px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 160% */
  letter-spacing: 0.893px;
  color: #fff !important;
}
.explore .container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  z-index: 1;
  position: relative;
}
.explore .container .box::before {
  content: "";
  position: absolute;
  width: 152px;
  background: linear-gradient(270deg, #fff -0.08%, rgba(255, 255, 255, 0) 91.53%);
  height: 1.5px;
  transform: rotate(270deg);
  right: -80px;
  top: 50%;
}
.explore .container .box .image {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.08);
}
.explore .container .box span {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.explore .container .box p {
  width: 80%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 1000px) {
  .explore {
    padding: 50px 0px;
    height: 100%;
  }
  .explore .text {
    margin-bottom: 20px !important;
  }
  .explore .box p {
    width: 100%;
  }
  .explore .box::before {
    transform: rotate(0deg) !important;
    right: 50% !important;
    top: 100% !important;
    transform: translateX(50%) !important;
  }
}
.our-products {
  margin-top: 120px;
}
.our-products .header .v-btn {
  color: #5a7184;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px !important;
}
.our-products .header .v-btn .v-btn__content {
  position: relative;
}
.our-products .header .v-btn .v-btn__content svg {
  position: absolute;
  height: 7px;
  width: 50px;
  right: 0;
  bottom: -9px;
  display: none;
}
.our-products .header .v-btn.v-slide-group-item--active {
  color: #dcb63b !important;
  font-weight: bold;
}
.our-products .header .v-btn.v-slide-group-item--active .v-tab__slider {
  display: none;
}
.our-products .header .v-btn.v-slide-group-item--active .v-btn__content svg {
  display: block;
}
.our-products .header .v-btn .v-btn__overlay {
  display: none;
}
.our-products .header .v-btn :hover {
  background-color: transparent;
}

.best-offers {
  background-color: #fff;
  margin-top: 120px;
  padding: 72px;
}
.best-offers .text-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.best-offers .text-container .main-image {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 40px;
}
.best-offers .text-container .main-image .main {
  gap: 14px;
}
.best-offers .text-container .main-image .main .choose {
  gap: 8px;
}
.best-offers .text-container button {
  display: flex;
  width: 211px;
  height: 48px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #2d3a4a;
  background: #2d3a4a;
  color: #fff;
  margin-top: 48px;
}
.best-offers .text-container h4 {
  width: 433px;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 40px;
  color: #2d3a4a;
}
.best-offers .text-container .special {
  color: #5a7184;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 18px;
}
.best-offers .text-container .image {
  width: 70px;
  height: 56px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 12px 32px 0px rgba(169, 169, 173, 0.16);
  display: flex;
  align-items: center;
  justify-content: center;
}
.best-offers .text-container .image svg {
  width: 32px;
  height: 32px;
}
.best-offers .text-container .choose h6 {
  color: #2d3a4a;
  font-size: 18px;
}
.best-offers .text-container .choose span {
  color: #5a7184;
  font-size: 14px;
  width: 370px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.best-offers .big-img {
  width: 582.157px;
  height: 506.854px;
}

.all-marks {
  margin-top: 120px;
  margin-bottom: 140px;
}
.all-marks .header {
  margin-bottom: 90px;
}
.all-marks .header .text {
  gap: 24px;
}
.all-marks .header .text span {
  width: 492px;
  color: #5a7184;
  line-height: 24px;
}
.all-marks .box {
  margin-bottom: 88px;
}
.all-marks .box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.car-details {
  margin-top: 50px;
  border-radius: 24px;
  background: #FFF;
  padding: 30px;
}
.car-details .images-text .mySwiper2 .swiper-slide {
  width: 100%;
  height: 416px;
  border-radius: 16px;
  border: 1px solid #ebeaed;
  background-image: url("~/assets/images/car.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.car-details .images-text .mySwiper2 .swiper-slide .zoom {
  position: absolute;
  z-index: 11;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}
.car-details .images-text .mySwiper .swiper-slide .image {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  border: 1px solid #ebeaed;
  background-image: url("~/assets/images/car.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.car-details .images-text .mySwiper .swiper-slide-thumb-active .image {
  border: 1px solid #dcb63b;
}
.car-details .images-text .slider__prev,
.car-details .images-text .slider__next {
  width: 50px;
  height: 33px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #f6f7f9;
}/*# sourceMappingURL=style.css.map */